
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia, sans-serif;
}

a {
  cursor: hand;
}

button {
  font-family: Arial, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

nav a.active {
  color: #039be5;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  display: block;
  width: 100%;
  left: 0;
  top: 0;
}

@font-face {
  font-family: "wonder";
  src: url("%PUBLIC_URL%/8-BIT WONDER.TTF")
}
